[run]
omit =
  api/apps.py,
  api/admin.py,
  api/authentication/*,
  api/helpers/*
  api/models/user_manager.py,
  api/migrations/*,
  grind/settings/*,
  api/tests/*,
  api/urls.py,
  grind/wsgi.py,
  manage.py,
  setup.py,
  api/test_runner.py
