__pycache__
venv
.env
.env.prod
*.pyc
DS_Store
settings.json
.pytest_cache
.vscode
.pytest_cache
.coverage
htmlcov
coverage.xml
static
debug.log
.aws
.env-secrets.txt
.docker
ecs-service.json
task-definition.json
*.log
*.pid