Django==2.2.4
djangorestframework==3.10.2
importlib-metadata==0.22
packaging==19.1
pluggy==0.13.0
psycopg2==2.8.3
py==1.8.0
pyparsing==2.4.2
pytest==5.1.2
pytest-django==3.5.1
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
wcwidth==0.1.7
zipp==0.6.0
coverage==4.5.4
coveralls==1.8.2 
pytest-cov==2.7.1